/* Accordion
----------------------------------------*/
.accordion {
  width: 70%;
  margin: 0 auto;
  text-align: left;

  h5, h6 {
    margin-top: 0;
    margin-bottom: 8px;
  }

  h6:not(:first-child) {
    margin-top: 1rem; 
  }

  li {
    list-style-type: none;
  }

  > li {
    border: 1px solid #ce6d39;
    margin-bottom: 1px;
  }

  input[type="checkbox"] {
    display: none;

    &:checked {
      + label {
        background-color: #000000;
        border-left: 0.625rem solid #ce6d39;
        color: #FFF3E0;

        &:hover {
          color: #ce6d39;
        }

        + .accordion-content {
          display: block;
        }
      }
    }
  }

  label {
    background-color: #ce6d39;
    cursor: pointer;
    display: block;
    padding: 0.625rem 1.25rem;
    color: #FFF3E0;
    -webkit-transition: background-color 1s, border 0.5s, color 0.8s;
    transition: background-color 1s, border 0.5s, color 0.8s;

    &:hover {
      background-color: #FFF3E0;
      border-left: 0.625rem solid #ce6d39;
      color: #000000;
    }

  }

  .accordion-content {
    padding: 1.25rem;
    display: none;
  }

}
