.search__form {
  position: absolute;
  overflow: hidden;
  right: 10px;
  top: 0;
  width: 300px;
  height: 60px;
}

.search__input {
  width: 240px;
  padding: 10px 10px 5px;
  border-bottom: 1px solid #e3dede;
  right: 60px;
  -webkit-transition: border-bottom 1s .3s;
  transition: border-bottom 1s .3s, opacity .8s, width .5s;
  
  &:focus,
  &:focus ~ .search__button {
    border-bottom-color: #a3a1a1;
  } 

  &:focus + .search__label {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    font-size: 70%;
  }
}
  
.search__button {
  color: #e3dede;
  background-color: #a3a1a1;
  border-bottom: 1px solid transparent;
  padding: 12.5px 0;
  width: 60px;
  right: 0;
  -webkit-transition: color 0.3s, background-color .75s ease-in-out, border-bottom 1s .3s;
  transition: color 0.3s, background-color .75s ease-in-out, border-bottom 1s .3s;  

  &:hover {
    font-weight: bold;
    background-color: #8b8687;
  }

}

.search__button,
.search__input {
  display: inline-block;
  margin-top: .625rem;
  height: 50px;
  position: absolute;
}

.search__label {
  position: absolute;
  left: 10px;
  top: 40%;
  opacity: .5;
  cursor: text;
  -webkit-transition: left .3s ease, -webkit-transform .3s ease-in-out;
  transition: left .3s ease, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, left .3s ease;
  transition: transform .3s ease-in-out, left .3s ease, -webkit-transform .3s ease-in-out;
}


.login {
  width: 65%;
  margin: 5% auto;
  padding: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 5px;
  border-top: 5px solid #FF7043;
  color: #616161;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  text-align: center;
  
  h1 {
    display: inline-block;
  }
  span {
    display: inline-block;
    float: right;
    font-size: 0.75rem;

    a {
      color: #616161;
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .login-header {
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    span {
      padding-top: 1.25rem;
    }
  }

  input,
  button {
    display: block;
    width: 100%;
  }
  label {
    display: inline-block;
    
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  input[type="email"],
  input[type="password"] {
    width: 100%;
    height: 3rem;
    padding: 0.3125rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.9375rem;
    font-size: 1.25rem;
    color: rgba(0,0,0,0.6);
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    transition: 0.3s;

    &:focus {
      border: 2px solid #E0E0E0;
    }
  }

  .button {
    display: inline-block;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    background-color: #FF7043;
    color: #fff;
    border-radius: 0.1875rem;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;

    &:hover,
    &:focus {
      box-shadow: 0 4px 2px -2px #FF7043, 0 -2px 1px -2px #FF7043;
      background-color: rgba(255,255,255,0.8);
      color: #000000;
      outline: none;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
    }

    &:active {
      box-shadow: inset 0 -3px 1px -2px #FF7043, inset 0 2px 2px -2px #FF7043;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      outline: none;
    }

  }
  .button-sm {
    font-size: 0.625rem;
    padding: 0.375rem 0.625rem;
  }
  .button-md {
    font-size: 1.0625rem;
    padding: 0.625rem 1.0625rem;
  }
  .button-lg {
    font-size: 1.25rem;
    padding: 0.875rem 1.25rem;
  }
}




/* ======= Contact Form ====== */
.contact {
  width: 65%;
  margin: 5% auto;
  padding: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 5px;
  border-top: 5px solid $contact-primary-color;
  color: #616161;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  
  span {
    display: inline-block;
    float: right;
    font-size: 0.75rem;
    color: #616161;
    text-decoration: underline;

    a:hover {
      text-decoration: none;
    }
  }

  input,
  button,
  textarea {
    display: block;
    width: 100%;
  }

  label {
    display: inline-block;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  input[type="email"],
  input[type="password"],
  input[type="text"],
  textarea {
    width: 100%;
    height: 3rem;
    padding: 0.3125rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.9375rem;
    font-size: 1.25rem;
    color: rgba(0,0,0,0.6);
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    transition: 0.3s;

    &:focus {
      border: 2px solid #E0E0E0;
    }
  }

  .contact-form textarea {
    height: 7rem;
  }
  
  .button {
    display: inline-block;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    background-color: $contact-primary-color;
    color: #fff;
    border-radius: 0.1875rem;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;

    &:hover,
    &:focus {
      box-shadow: 0 4px 2px -2px $contact-primary-color, 0 -2px 1px -2px $contact-primary-color;
      background-color: rgba(255,255,255,0.8);
      color: #000000;
      outline: none;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
    }

    &:active {
      box-shadow: inset 0 -3px 1px -2px $contact-primary-color, inset 0 2px 2px -2px $contact-primary-color;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      outline: none;
    }
  }

  .button-lg {
    font-size: 1.25rem;
  }
  
}

@media screen and (max-width: 600px) {
  .contact,
  .login {
    width: 100%;
  }
}