/* ======= Modal ======== */
.modal-overlay {
  @include absolute-top-left(0, 0);
  @include box-size(100%, 0);
  font-size: 0;
  z-index:1005;
  transition: background-color .5s ease-out .2s, height .5s ease-out;

  .modal {
    position: relative;

    > p {
      @include position-top(relative, calc(50% - .875em));
      font-size: 2em;
      text-align: center;
    }

    .close-modal {
      background-color: #8B8687;
      color: #E3DEDE;
      border-radius: 0 0 0 20%;
      @include box-size(3.125em, 3.125em);
      @include absolute-top-right(0, 0);
      text-decoration: none;
      opacity: 0.6;
      -webkit-transition: opacity .5s;
      transition: opacity .5s;
      
      &:hover {
        opacity: 1;
      }

      > i {
        @include absolute-top-left(calc(50% - 12px), calc(50% - 12px));
        display: none;
      }
    }

  }

  &:target {
    height: 100vh;
    font-size: unset;
    background-color: rgba(0,0,0,0.4);

    .modal {
      @include box-size(50%, 50vh);
      @include position-top-left(absolute, calc(50% - 25vh), calc(50% - 25vw));
      background-color: #e3dede;

      i {
        display: inline;
      }
    }

  }

  @media screen and (max-width: 600px) {
    &:target .modal {
      width: 70vw;
      @include absolute-top-left(calc(50% - 35vh), calc(50% - 35vw));
    }

    .modal > p {
      top: calc(50% - 1.625em);
      font-size: 1.625em;
    }
  }

}

