.products {
  width: 100%;

  .container {
    padding-bottom: 0;
  }

  h1 {
    padding: 1.5%;
  }

  ul {
    @include display-flex();
    @include flex-wrap(wrap);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }

  li {
    padding: 1.5%;
    width: 33.33333%;
    list-style: none;
    margin-bottom: 2rem;
  }
}

.product {
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  border-radius: 0 4px 4px 0;
  background-color: #FAFAFA;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;

  &:hover {
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1),
      -2px -2px 2px 2px rgba(0,0,0,0.1);
  }

  .new,
  .sale {
    @include absolute-top-right(-0.5rem, -0.5rem);
    padding: 5px 10px;
    border-radius: 10px 0 0 10px;
    border: 1px dashed #FFF;
    text-align: center;
    color: #FFF;
  }
  .new {
    background-color: #FF5722;
  }
  .sale {
    background-color: #5C6BC0;
  }
}

.product-details {
  position: relative;
  padding: 4% 3%;

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #6d819c;
  }
  .add-to-cart {
    @include absolute-top-right(-2.75rem, 0);
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #43A047;
    color: white;
    opacity: 0.8;
    @include transition(0.2);

    :hover {
      opacity: 1;
    }
  }
  .price {
    color: #43A047;
    font-size: 1.25rem;
  }
  .old-price {
    color: #a7a7a2;
    font-size: 0.75;
    text-decoration: line-through;
  }
  p {
    margin-top: 0.5rem;
    text-align: center;
  }
}


.cart {
  padding: 4% 0;
  text-align: left;

  h1 {
    padding: 1.5%;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  header {
    display: block;
    width: 100%;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

}


.cart-details {
  @include display-flex();
  @include flex-wrap(wrap);

  .close {
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
    color: #FF5722;
    font-size: 1.35rem;
    font-weight: bold;
    cursor: pointer;
    @include transition(0.2);

    &:hover {
      background-color: #FF5722;
      color: #FFFFFF;
    }
  }
}
.cart-products {
  width:70%;
  padding: 1.5% 1.5% 1.5% 0;
  margin-bottom: 0.9375rem;
  overflow-y:hidden;
  overflow-x:scroll;
  -ms-overflow-style:-ms-autohiding-scrollbar;
  -webkit-overflow-scrolling:touch;

  > span {
    display: block;
    padding-bottom: 0.625rem;
  }

  #totalCartItemsLabel {
    display: inline-block;
    border-radius: 50%;
    padding: 5px 10px;
    background-color: #5C6BC0;
    color: #FFFFFF;
    opacity: 1;
  }
}


.cartProduct {
  margin-bottom: 0.3125rem;
}
.cartProductList {
  @include display-flex();
  @include flex-flow(column, wrap);
  border: 1px solid #EEEEEE;
  border-radius: 3px;

  > li {
    width: 100%;

    &:after,
    > ul:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
.cartProductDetails {
  @media (max-width: 360px) {
    .cartProductName,
    .cartProductQuantity,
    .cartProductPrice,
    .cartProductAction {
      min-height: 4rem;
    }
  }
}
.cartProductListHeader > ul,
.cartProductDetails {
  @include display-flex();
  @include flex-flow(row, wrap);
  @include justify-content(flex-start, start);
  @include align-items(center, center);

  li:first-child {
    @include flex-grow(0.4);
  }
}

.cartProductListHeader li:last-child,
.cartProductDetails li:last-child {
  @include flex-grow(0.1);
}

.cartProductListHeader {
  background-color: #EEEEEE;

  > ul > li:first-child {
    @include flex-grow(0.6);
  }
}

li.cartProductName > img {
  vertical-align: middle;
  @include box-size(20%, auto);
  margin-right: 1.25rem;
}

.cartProductListHeader li.cartProductQuantity,
.cartProductDetails li.cartProductPrice {
  padding-left: 2rem;
}
li.cartProductQuantity {
  @include flex-grow(0.2);

  > input[type="number"] {
    color: rgba(0,0,0,0.6);
    border: 1px solid #C8E6C9;
    border-radius: 3px;
    padding: 0.3125rem 0.3125rem 0 0.625rem;
    @include box-size(5rem, 2.5rem);
  }
}

li.cartProductPrice {
  @include flex-grow(0.2);
}

.cart-products {
  .row {
    margin-top: 1.25rem;
  }
  .col4 {
    margin: 0 33.33333%;
  }
  input[type="number"]:focus {
    border: 3px solid #C8E6C9;
  }
  button.btn {
    padding: 0.625rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: #43A047;
    border-radius: 3px;
    border: 2px solid #43A047;
    @include transition(0.2);
  }
} 
.cart-order {
  width: 30%;
  padding: 3% 1.5%;
}

.cart-coupon,
.cart-summary {

  button {
    width: 100%;
    padding: 0.625rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: #43A047;
    border-radius: 3px;
    border: 2px solid #43A047;
    @include transition(0.2);
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 1.25rem;
    text-align: center;
  }
  
}

.cart-coupon {
  input[type="text"] {
    @include box-size(100%, 3rem);
    padding: 0.3125rem 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #616161;
    border: 1px solid #C8E6C9;
    border-radius: 3px;

    &:focus {
      border: 3px solid #C8E6C9;
    }

    button {
      &:hover,
      &:focus {
        background-color: #43A047;
        color: #FFFFFF;
      }

      &:active {
        background-color: transparent;
        box-shadow: 0 2px 2px 0 #43A047;
        color: #43A047;
      }

    }
  }
} 

.cart-summary {
  button {
    background-color: #43A047;
    color: #FFFFFF;
    margin-top: 0.625rem;

    &:hover,
    &:focus {
      background-color: #66BB6A;
      border: 2px solid #66BB6A;
      outline: none;
    }
    &:active {
      background-color: #43A047;
      box-shadow: 0 2px 2px 0 #43A047;
      color: #FFFFFF;
      outline: none;
    }
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 1.25rem;
    margin-top: 2rem;
  }
  .row {
    background-color: #FAFAFA;
    padding: 5% 4%;
    border-bottom: 1px solid #EEEEEE;
  }
  .col3 {
    text-align: right;
  }
  .order-total {
    background-color: #EEEEEE;
    font-weight: bold;
    font-size: 1.25rem;
  }
  .row:last-child .col3,
  .row:last-child .col9 {
    font-weight: bold;
  }

} 






@media (min-width: 1025px) {  
  .cart-coupon {
    margin-top: 1rem;
  }
  .cart-coupon button,
  .cart-summary button {
    width: 50%;
    float: right;
  }
  .cart-summary:before {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
  }
}

@media screen and (max-width: 600px) {
  .products {
    li {
      width: 100%;
    }
  }
  .cart-products {
    .col4 {
      margin: 5%;
      width: 100%;
    }
  } 
  .box-header {
    margin-bottom: 0.875rem;

    .box-title h1 {
      margin-bottom: 0.875rem;
      padding: unset;
    }
  }

  .box-header {
    .box-title,
    .box-tools {
      display: block;
      width: 100%;
    }
  } 

  .cart-products,
  .cart-order {
    width: 100%;
  }

  .cartProduct,
  .cartProductListHeader {
    margin-bottom: 1.875rem;
  }

  .cartProductList {
    @include flex-flow(row, wrap);

    > li {
      width: 100%;
    }
  }

  .cartProductListHeader > ul,
  .cartProductDetails {
    @include display-flex();
    @include flex-flow(row, wrap);
    @include align-items(center, center);
  }

  .cartProductListHeader li.cartProductQuantity,
  .cartProductDetails li.cartProductPrice {
    padding-left: .3125rem;
  }

  .cartProductListHeader > ul li,
  .cartProductDetails li {
    border-bottom: 1px solid #66BB6A;
    width: 50%;
    padding-left: .3125rem;
  }
  
  .cartProductName,
  .cartProductQuantity,
  .cartProductPrice,
  .cartProductAction {
    height: 3rem;
  }
  
  .cart-coupon,
  .cart-summary {
    button {
      width: 100%;
      float: right;
    }
  }
}

