/* Tabs to display projects
--------------------------------*/
.tab-component {
  position: relative;
  overflow: hidden;
  @include box-size(100%, 600px);
  box-shadow: 0px 20px 20px -5px rgba(0, 0, 0, 0.4);

  &:after {
    display: block;
    clear: both;
    height: 1px;
    visibility: hidden;
  }

  input[type="radio"]:checked {
    + label {
      cursor: default;

      + .tab-content {
        opacity: 1;
        z-index: 301;
        @include transform(translateX(0));
      }
    }
  } 
}

.tab {
  width: 25%;
  z-index: 300;

  input[type="radio"] {
    display: none;
    
    &:checked {
      + label {
        border-left-color: $projects-primary-color;
        color: $projects-primary-color;
        font-weight: bold;

        > i {
          opacity: 1;
          right: 5%;
          color: $projects-primary-color;
          -webkit-transition: opacity .3s .3s, right .5s .2s;
          transition: opacity .3s .3s, right .5s .2s;
        }

      }

    }

  }

  > label {
    border-top: 0.625rem solid transparent;
    border-bottom: 0.625rem solid transparent;
    border-left: 0.3125rem solid transparent;
    border-right: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    padding: 0.3125rem 1.25rem;
    position: relative;
    width: 100%;
    -webkit-transition: color .3s .1s, border .3s;
    transition: color .3s .1s, border .3s;

    &:hover {
      border-left-color: #e3dede;
      color: #8b8687;
    }

    > i {
      color: #8b8687;
      opacity: 0;
      font-size: 80%;
      @include absolute-top-right(35%, 50%);
    }
  }
}

.tab-content {
  @include absolute-top-left(0, 25%);
  opacity: 0;
  padding: 0 6%;
  @include transform(translateX(50px));
  width: 75%;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, transform 0.5s;
  transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
  overflow: hidden;
}
.tab-content-body {
  height: 480px;
}
.tab-content-footer {
  height: 120px;
  color: #e3dede;
  background-color: #333030;
  padding: 0.625em;

  > h4 {
    font-size: 1.25em;

    > span {
      font-weight: bold;
    }
  }

  > p {
    font-size: 0.875em;
  }

  > a {
    display: inline-block;
    margin-right: 1em;
    color: #8b8687;

    &:last-child {
      margin-right: 0;
    }
    
    &:hover {
      color: #e3dede;
    }
  }
  
}

@media (min-width: 1025px) {
  .tab-component {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 600px) {
  .tab-component {
    height: unset;

    > .tab {
      width: 100%;
    }

    label {
      font-size: 1.25em;
    }

    .tab-content {
      border-bottom: unset;
      box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.4);
      position: static;
      font-size: 0;
      padding: unset;
      @include box-size(100%, 0);
      @include transition(0.8);
    }

    input[type="radio"]:checked + label + .tab-content {
      border-bottom: 1px solid #ffeee4;
      display: block;
      font-size: inherit;
      margin-bottom: 0.625rem;
      padding: 0.625rem 1.25rem; 
      height: unset;
    }
  }


  .tab-content-body {
    height: 440px
  }

  .tab-content-footer {
    height: 160px;
    padding-top: .5em;

    > h4 {
      font-size: 1.2em;
      margin-bottom: .75em;
    }
  }

}