*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  color: #000;
  outline: 0;
  text-align: left;
  font-size: 1rem;
  height: 3rem;
  vertical-align: middle;
}
a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  height: 3rem;
  line-height: normal;
  overflow: visible;
  outline: none;
  -webkit-appearance: button;
  @include user-select(none);

  &:active,
  &:focus {
    outline: none;
  }
}
